#Box
    .box
        padding: 40px
        width: 160px
        height: 160px
        background-color: rgba(81,131,167,255)
        .minibox
            padding:30px
            width: 80px
            height: 80px
            background-color: rgba(54,87,128,255)
            h1
                color: white