body {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
}

a {
  color: orange;
}
a:hover {
  color: black;
}

#Box .box {
  margin: 40, 80px;
  width: 170px;
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(81, 131, 167);
}
#Box .box .minibox {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(54, 87, 128);
  transition: 2s;
}
#Box .box .minibox .textbox h1 {
  font-weight: bold;
  color: white;
}
#Box .box .minibox:hover {
  width: 110px;
  height: 110px;
}

#Demo {
  margin: 70px;
}
#Demo .box {
  width: 150px;
  height: 80px;
  border-radius: 7%;
  background-color: rgb(136, 99, 123);
}
#Demo .box .minibox {
  display: flex;
  align-items: center;
  justify-content: center;
}
#Demo .box .minibox .btn {
  transition: 2s;
  width: 150px;
  height: 80px;
}
#Demo .box .minibox .btn h5 {
  color: white;
}
#Demo .box .minibox .btn:hover {
  border: 5px solid rgb(136, 99, 123);
  background-color: rgb(68, 65, 82);
}
@media screen and (max-width: 800px) {
  #Demo .box {
    width: 80px;
    height: 40px;
    border-radius: 7%;
    background-color: rgb(116, 133, 191);
  }
  #Demo .box .minibox {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #Demo .box .minibox .btn {
    width: 80px;
    height: 40px;
  }
  #Demo .box .minibox .btn h5 {
    font-size: 18px;
  }
}
@media screen and (max-width: 500px) {
  #Demo .box {
    width: 40px;
    height: 40px;
    border-radius: 10%;
    background-color: rgb(61, 35, 50);
  }
  #Demo .box .minibox {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #Demo .box .minibox .btn {
    width: 40px;
    height: 40px;
  }
  #Demo .box .minibox .btn h5 {
    font-size: 8px;
  }
}

#BOX .box {
  width: 180px;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#BOX .box .minibox {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  transition: 2s;
  background-color: rgb(150, 109, 73);
  display: flex;
  align-items: center;
  justify-content: center;
}
#BOX .box .minibox h1 {
  font-weight: bold;
  font-size: 20px;
  color: white;
}
#BOX:hover .box .minibox {
  border-radius: 20%;
}
@media screen and (max-width: 800px) {
  #BOX .box {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #BOX .box .minibox {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(195, 197, 134);
  }
}

#text {
  margin: 70px;
}
#text .minibox {
  margin: 18px;
  width: 250px;
  height: 170px;
  background-color: rgb(69, 104, 134);
  display: flex;
  align-items: center;
  justify-content: center;
}
#text .minibox h3 {
  font-size: 25px;
  color: white;
}
#text .big {
  position: absolute;
  left: 332px;
  margin-top: auto;
}

#simple {
  margin: 70px;
}
#simple .minibox {
  margin: 18px;
  width: 250px;
  height: 170px;
  background-color: rgb(123, 159, 110);
  display: flex;
  align-items: center;
  justify-content: center;
}
#simple .minibox h3 {
  font-size: 25px;
  color: white;
}
#simple .small {
  position: absolute;
  left: 332px;
  margin-top: auto;
}/*# sourceMappingURL=style.css.map */